# These are generated when I initialize the sbt
.idea/
target/
._*

#perl
src/plugins/

#output dir

test_run_dir/

chisel-template/



*.fir
*.json


# These are decided not to be public. 
*.class
*.jar
*.jar
*.zip
*.class
