# These are generated when I initialize the sbt
project/
.idea/
target/

#perl
src/plugins/

#output dir

test_run_dir/



*.fir
*.v
*.json


# These are decided not to be public. 
src/main/scala/cora
*.class
*.jar
*.jar
*.zip
*.class
